/** utils.css */

.primary-text-link {
    color: var(--primary-link-color);
    text-decoration: underline;
}

.primary-text-link-no-decoration {
    text-decoration: none;
}

.primary-text-link:visited {
    color: var(--primary-link-color);
}

.primary-text-link:hover {
    color: var(--nav-link-hover-color);
}

.secondary-text-link {

}

.custom-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}